  @font-face {
    font-family: 'diploma_text';
    src: url('diploma.ttf');
  }


  body{
    background: black;
  }
  body *{
    box-sizing: border-box;
  }

  #controls {
    border: 2px dotted white;
    display: none;
    max-width: 650px;
    margin: 20px auto;
    overflow: hidden;
    padding: 5px;
  }

  #controls textarea{
    width: 100%;
    text-align: center;
  }

  #controls *{
    font-size: 20px;
  }

  #controls #output-html-wrapper {
    display: flex;
  }
  #controls #output-html-wrapper label{
    min-width: 125px;
  }
  #controls #output-html-wrapper p {
    margin: 0 auto;
    flex: 1;
  }

  #controls *:not(textarea):not(select) {
    color: white;
  }

  #colorful-text{
    text-align: center;
  }

  #colorful-text pre{
    font-size: 135px;
    margin: 20px auto 40px;
  }

#controls #font-styles-wrapper{
  display: flex;
  margin: 10px auto;
}

#controls #font-styles-wrapper #font-size-range-wrapper{
  flex: 1;
  display: flex;
}
#controls #font-styles-wrapper #font-size-range-wrapper input[type='range']{
  flex: 1;
  margin: 0 10px;
}
