@font-face {
  font-family: 'bioshock';
  src: url("fonts/bioshock.ttf"); }
@font-face {
  font-family: 'angel';
  src: url("fonts/angel.otf"); }
@font-face {
  font-family: 'billion_stars';
  src: url("fonts/billion_stars.ttf"); }
@font-face {
  font-family: 'billy_argel';
  src: url("fonts/billy_argel.otf"); }
@font-face {
  font-family: 'collegiateHeavyOutline.ttf';
  src: url("fonts/collegiateHeavyOutline.ttf.tff"); }
@font-face {
  font-family: 'cookie_monster';
  src: url("fonts/cookie_monster.ttf"); }
@font-face {
  font-family: 'diploma';
  src: url("fonts/diploma.ttf"); }
@font-face {
  font-family: 'disney';
  src: url("fonts/disney.ttf"); }
@font-face {
  font-family: 'mothman';
  src: url("fonts/mothman.ttf"); }
@font-face {
  font-family: 'mardian';
  src: url("fonts/mardian.ttf"); }
@font-face {
  font-family: 'mrb';
  src: url("fonts/mrb.ttf"); }
@font-face {
  font-family: 'respective';
  src: url("fonts/respective.ttf"); }
@font-face {
  font-family: 'sport';
  src: url("fonts/sport.ttf"); }
@font-face {
  font-family: 'xiomara_script';
  src: url("fonts/xiomara_script.ttf"); }
body {
  background: black; }
  body * {
    box-sizing: border-box; }

#controls {
  border: 2px dotted white;
  display: none;
  max-width: 650px;
  margin: 20px auto;
  overflow: hidden;
  padding: 5px; }
  #controls > * {
    margin: 15px 0; }
  #controls * {
    font-size: 20px; }
  #controls *:not(textarea):not(select) {
    color: white; }
  #controls textarea {
    width: 100%;
    text-align: center; }
  #controls .color-selector-wrapper {
    width: 100%;
    margin: 10px;
    overflow-x: scroll;
    white-space: nowrap; }
    #controls .color-selector-wrapper .color-selector {
      display: inline-block;
      border: 2px solid white; }
      #controls .color-selector-wrapper .color-selector:not(:first-of-type) {
        margin-left: 15px; }
      #controls .color-selector-wrapper .color-selector * {
        display: inline-block; }
      #controls .color-selector-wrapper .color-selector .input-color {
        height: 50px;
        width: 50px; }
      #controls .color-selector-wrapper .color-selector .delete-color-link {
        width: 50px;
        height: 40px;
        text-align: center;
        position: relative; }
        #controls .color-selector-wrapper .color-selector .delete-color-link img {
          position: absolute;
          width: 20px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
    #controls .color-selector-wrapper .add-color-button {
      border-radius: 5px;
      position: relative;
      top: -10px;
      margin: 0 25px 0 15px; }
  #controls #output-html-wrapper {
    display: flex;
    align-items: stretch; }
    #controls #output-html-wrapper #button-wrapper {
      min-width: 125px;
      margin-right: 5px; }
    #controls #output-html-wrapper button {
      width: 100%;
      height: 100%;
      color: black; }
    #controls #output-html-wrapper p {
      margin: 0 auto;
      flex: 1; }
  #controls #font-styles-wrapper {
    display: flex;
    margin: 10px auto; }
    #controls #font-styles-wrapper #font-size-range-wrapper {
      flex: 1;
      display: flex; }
      #controls #font-styles-wrapper #font-size-range-wrapper input[type='range'] {
        flex: 1;
        margin: 0 10px; }

#colorful-text {
  text-align: center; }
  #colorful-text pre {
    font-size: 135px;
    margin: 20px auto 40px;
    line-height: 1.75em; }

/*# sourceMappingURL=index.css.map */
